extends layout.pug

block content
	h1(class='display-1 text-center')= article.title
	each element in article.content
		div(class='row')
			div(class='col')
			div(class='col-6')
				case element.type
					when 'heading'
						h3(class='mt-3')= element.text
					when 'paragraf'
						p(class='fs-5')= element.text
					when 'code'
						pre(class='text-bg-dark fs-5 font-monospace')= element.text
					when 'link'
						a(target='_blank' href=element.url class='fs-6')= element.text
			div(class='col')
